# POLSCI 3

## Week 2, Activity 1: Analyzing Quantitative Data using R in Jupyter Notebooks

In this first activity, we will apply our newly acquired R skills!

In Lecture, I looked at an example dataset on sales at Berkeley's student store.

Today, let's take a look at *Stanford's* student store's sales from the past 5 months. The manager, Mr. Ima Luzer, need your help to understand what they've been selling. (All the Stanford students he asked were stumped!)

In [ ]:
# FIRST, SELECT THIS CELL AND HIT THE RUN BUTTON
library(testthat)
library(ottr)

### Part 1: Importing the Data

### **<span style="color:red">Instructions: Complete the cells below by replacing "`# YOUR CODE HERE`" within the code cell with the right answer.</span>**

First of all, we need to load our data set into a variable for later reference.

This first line is already written for you. It saves the dataset that the command `read.csv('activity_notebook1.csv')` loads into a dataset named `suSales`. **Remember, you need to click this cell and hit "Run" to run it.**

In [ ]:
suSales <- read.csv('activity_notebook1.csv')

<!-- BEGIN QUESTION -->

Awesome! now let's take a look at our data.

------

**Question 1:** Take a look at the content of suSales by simply typing `suSales`. Then hit run.

**Hint**: If you see an error, it might be because you didn't run the cell above that reads in the data. You need to run that cell first before running the cell below.

In [ ]:
# Replace the "# YOUR CODE HERE" below with just suSales, then run this cell. You should see a
# table of data print out.
# YOUR CODE HERE

<!-- END QUESTION -->

In this class, you'll always see a **codebook** that tells you what each variable in a dataset means right under the dataset. Here's what the variables mean in this dataset:

- `Month`: What month of the year the sales refer to
- `Hoodie`: How many Stanford hoodies sold that month
- `Sweater`: How many Stanford sweaters sold that month
- `OskiShirt`: How many Oski the Bear (Berkeley's mascot) shirts were sold that month

Hmmm. Who would've thought that Oski Shirts are such a big hit at Stanford? Something might off. Let's conduct some further investigation.

-----

### Part 2: Data Analysis

<!-- BEGIN QUESTION -->

**Question 2.** Print out the `OskiShirt` variable from `suSales`. If you're successful, you should see the contents of the `OskiShirt` column from the `suSales` data you saw above.

**Hint:** This is where you use the `$`.

In [ ]:
# Print the OskiShirt variable here, replacing "# YOUR CODE HERE" with the
# command to retrieve the OskiShirt column from suSales.
# YOUR CODE HERE

<!-- END QUESTION -->

Nice! You know how to retrieve a variable from a dataset! Let's use this power to calculate the mean (also called average) of the OskiShirt variable. This will tell us, on average, how many OskiShirts the data says Stanford students purchase per month.

------

**Question 3.** On the first line, replace "`NULL # YOUR CODE HERE`" with code that saves the mean of the `OskiShirt` variable into the variable called `oskiMean`. Then the second line, which is just `oskiMean`, will print out the answer you just saved. You don't need to modify the second line.

In [ ]:
# Calculate mean of the OskiShirt in the suSales dataset, save it in oskiMean
oskiMean <- NULL # YOUR CODE HERE
oskiMean

In [ ]:
. = ottr::check("tests/q3.R")

**Hint before you move on**: run the cell above and it will tell you if you subsetted correctly. If you see "All tests passed!", it means you did!

------

**Question 4.** Now, do the same, but for the `Sweater` variable. In particular, on the first line, replace "`NULL # YOUR CODE HERE`" with code that calculates the mean of the `Sweater` variable and stores it in `sweaterMean`. Then the next line will print out the results you saved in `sweaterMean`.

In [ ]:
# Calculate mean of Sweater, save in sweaterMean
sweaterMean <- NULL # YOUR CODE HERE
sweaterMean

In [ ]:
. = ottr::check("tests/q4.R")

Wait a minute. Take a look at how large you found `oskiMean` was versus how large `sweaterMean` was. It seems pretty strange that Stanford students are buying even more shirts with Oski the Bear than they are buying Stanford sweater.

We asked Mr. Luzer (the store manager) about this since something seems strange. He realized there there was a mistake, and the dataset mistakenly recorded each Oski Shirt sale 4 times. So, we need to divide `oskiMean` by 4 to get the correct number of Oski shirts sold on the average month.

------

**Question 5.** Divide the `oskiMean` variable by 4 and save it in the variable `oskiMeanCorrected`. Then, print `oskiMeanCorrected` again.

Hint: Remember, R can do arithmetic! You already have `oskiMean`. Now, you just need to divide it by 4. Use `/` to divide.

In [ ]:
# Store the true mean of Oski Shirt sales by dividing oskiMean by 4
oskiMeanCorrected <- NULL # YOUR CODE HERE
oskiMeanCorrected

In [ ]:
. = ottr::check("tests/q5.R")

Okay, that seems a bit more reasonable. Now we know that Stanford students really *do* love Oski the Bear! Who wouldn't?

<img src="oski.jpeg" style="width: 50%"/>

# Submitting Your Notebook (please read carefully!)

<span style="color:red">**Only one** group member needs to turn in a notebook for your entire group.</span>

To submit your notebook...

### 1. Click `File` $\rightarrow$ `Save and Checkpoint`.

### 2. Wait 5 seconds.

### 3. Select the cell below and hit run.

In [ ]:
ottr::export("Week2_Activity1group.ipynb")

After you hit "Run" on the cell above, click the download link. A .zip file should download to your computer.

(If you make changes to your notebook, you'll need to hit save and then run the cell above again before you submit to get a new version of it.)

### 4. Submit the .zip file you just downloaded <a href="https://www.gradescope.com/" target="_blank">on Gradescope here</a>.

Notes:

- **This does not seem to work on Chrome for iPad or iPhone.** If you're using an iPad or iPhone, you need to download the file using **Safari**.
- If your web browser automatically unzips the .zip file (so you see a folder instead of a .zip file), you can just upload the .ipynb file that is inside the folder.
- If this method is not working for you, try this: hit `File`, then `Download as`, then `Notebook (.ipynb)` and submit that.

### 5. Add your group members' names in Gradescope.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
ottr::export("Week2_Activity1group.ipynb")